@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

.modal-result{
    font-size: 2rem;
    font-weight: 600;
}

/* .modal{
} */
.fade:not(.show) {
    opacity: 1;
    background-color: #1117;
}

.is-active.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
}